ICP9/flows.json
[{"id":"9707a9f2.6a8a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9cb3ef3.4758","type":"rpi-gpio out","z":"9707a9f2.6a8a58","name":"LED LIGHT","pin":"11","set":true,"level":"0","freq":"","out":"out","x":760,"y":340,"wires":[]},{"id":"deff764e.f666e8","type":"inject","z":"9707a9f2.6a8a58","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":320,"y":340,"wires":[["d9cb3ef3.4758","af2a4dea.b5b21"]]},{"id":"f3e9951a.720c48","type":"inject","z":"9707a9f2.6a8a58","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":320,"y":440,"wires":[["d9cb3ef3.4758"]]},{"id":"bae0173c.e424e8","type":"rpi-gpio in","z":"9707a9f2.6a8a58","d":true,"name":"PIN37 input","pin":"37","intype":"tri","debounce":"25","read":true,"x":300,"y":540,"wires":[["d9cb3ef3.4758"]]},{"id":"a6e52581.8cff08","type":"rpi-dht22","z":"9707a9f2.6a8a58","name":"","topic":"rpi-dht22","dht":22,"pintype":1,"pin":"35","x":460,"y":600,"wires":[["af2a4dea.b5b21","61035630.567638","a96e3c73.3273f","5da66963.db85b8"]]},{"id":"af2a4dea.b5b21","type":"debug","z":"9707a9f2.6a8a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":500,"wires":[]},{"id":"5314d58c.6be33c","type":"inject","z":"9707a9f2.6a8a58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":600,"wires":[["a6e52581.8cff08"]]},{"id":"a96e3c73.3273f","type":"ui_gauge","z":"9707a9f2.6a8a58","name":"","group":"642f0a7c.e7cfc4","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge_tempature","label":"units","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":640,"wires":[]},{"id":"61035630.567638","type":"ui_chart","z":"9707a9f2.6a8a58","name":"","group":"642f0a7c.e7cfc4","order":0,"width":0,"height":0,"label":"Tempature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":600,"wires":[[]]},{"id":"b7f5bf76.dfe25","type":"ui_chart","z":"9707a9f2.6a8a58","name":"","group":"cc147b86.e744a8","order":0,"width":0,"height":0,"label":"humid_chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":680,"wires":[[]]},{"id":"bf6d2c7.5c5fcd","type":"ui_gauge","z":"9707a9f2.6a8a58","name":"","group":"cc147b86.e744a8","order":1,"width":0,"height":0,"gtype":"gage","title":"humid_gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":720,"wires":[]},{"id":"5da66963.db85b8","type":"change","z":"9707a9f2.6a8a58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":700,"wires":[["af2a4dea.b5b21","b7f5bf76.dfe25","bf6d2c7.5c5fcd"]]},{"id":"642f0a7c.e7cfc4","type":"ui_group","z":"","name":"temp_group","tab":"5bb8a6c5.d0b9f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc147b86.e744a8","type":"ui_group","z":"","name":"Humidity_group","tab":"5bb8a6c5.d0b9f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5bb8a6c5.d0b9f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]