ICP8/flowsICP8.json
[{"id":"5d3d5a7d.a75af4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c4b6ef4d.87ef5","type":"debug","z":"5d3d5a7d.a75af4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"a98f9c00.ad59b","type":"inject","z":"5d3d5a7d.a75af4","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"71","payloadType":"num","x":270,"y":320,"wires":[["8aae475f.1d32e8"]]},{"id":"8aae475f.1d32e8","type":"switch","z":"5d3d5a7d.a75af4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"80","vt":"str"},{"t":"lt","v":"79","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":260,"wires":[["e23ae334.84cee"],["5332be26.f477d","ae2177ce.f77a58"]]},{"id":"1a554efa.3fd321","type":"inject","z":"5d3d5a7d.a75af4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"81","payloadType":"num","x":250,"y":180,"wires":[["8aae475f.1d32e8"]]},{"id":"36a8f70b.5c1cb8","type":"rbe","z":"5d3d5a7d.a75af4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":180,"wires":[["c4b6ef4d.87ef5"]]},{"id":"ea87b496.d1a1b8","type":"debug","z":"5d3d5a7d.a75af4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"e23ae334.84cee","type":"change","z":"5d3d5a7d.a75af4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Too HOT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["36a8f70b.5c1cb8"]]},{"id":"5332be26.f477d","type":"change","z":"5d3d5a7d.a75af4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TOO COLD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["ea87b496.d1a1b8"]]},{"id":"ae2177ce.f77a58","type":"range","z":"5d3d5a7d.a75af4","minin":"0","maxin":"100","minout":"32","maxout":"212","action":"scale","round":false,"property":"payload","name":"","x":700,"y":420,"wires":[["de9551ef.5f4bd"]]},{"id":"de9551ef.5f4bd","type":"debug","z":"5d3d5a7d.a75af4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]}]